stages:
  - test
  - build


# prepare the car:
#   stage: prep
#   script:
#     - mkdir build
#     - cd build
#     - touch car.txt
#   artifacts:
#     paths:
#       - build/

build app:
  image: node
  stage: build
  script:
    - npm i
    - npm install -g @angular/cli
    - ng build --prod
  artifacts:
    paths:
      - ./dist

# author:
#   stage: build
#   script:
#     - mkdir meta
#     - cd meta
#     - echo $GITLAB_USER_NAME > author.txt
#     - cat author.txt
#   artifacts:
#     paths:
#       - meta/

test car:
  image: node
  stage: test
  script:
    - npm i
    - npm install -g @angular/cli
    - ng test &

