image: node

stages:
  - build
  - deploy
  - deployment tests
  - cache

cache: &global_cache
  policy: pull
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ./node_modules

build app:
  stage: build
  except:
    - schedules
  script:
    - npm i
    - npm install -g @angular/cli
    - ng build --prod
    - echo $CI_COMMIT_SHORT_SHA
    - sed -i "s/%%VERSION%%/$CI_COMMIT_SHORT_SHA/" ./dist/demo/index.html
  artifacts:
    paths:
      - ./dist


# test car:
#   stage: test
#   except:
#    - schedules
#   script:
#     - npm i
#     - npm install -g @angular/cli
#     - ng test &
#     - sleep 10

deploy app:
  stage: deploy
  except:
    - schedules
  script:
    - npm i -g surge
    - surge --project ./dist/demo --domain fresh-touch.surge.sh

test deployment:
  image: alpine
  stage: deployment tests
  except:
    - schedules
  cache: {}
  script:
    - apk add curl
    - curl "http://fresh-touch.surge.sh" | tac | tac | grep -q "loading"
    - curl "http://fresh-touch.surge.sh" | tac | tac | grep -q "$CI_COMMIT_SHORT_SHA"

upadte cache:
  stage: cache
  only:
    - schedules
  cache:
    <<: *global_cache
    policy: push
  script:
    - npm i
