image: node

stages:
  - build
  - deploy
  - deployment tests

 build app:
   stage: build
   script:
     - npm i
     - npm install -g @angular/cli
     - ng build --prod
     - echo $CI_COMMIT_SHORT_SHA
     - sed -i "s/%%VERSION%%/$CI_COMMIT_SHORT_SHA/" ./dist/demo/index.html
   artifacts:
     paths:
       - ./dist


# test car:
#   stage: test
#   script:
#     - npm i
#     - npm install -g @angular/cli
#     - ng test &
#     - sleep 10

 deploy app:
   stage: deploy
   script:
     - npm i -g surge
     - surge --project ./dist/demo --domain fresh-touch.surge.sh

test deployment:
  image: alpine
  stage: deployment tests
  script:
    - apk add curl
    - curl "http://fresh-touch.surge.sh" | tac | tac | grep -q "loading"
