image: node

stages:
  - build
  - deploy
  - deployment tests

# build app:
#   stage: build
#   script:
#     - npm i
#     - npm install -g @angular/cli
#     - ng build --prod
#   artifacts:
#     paths:
#       - ./dist


# test car:
#   stage: test
#   script:
#     - npm i
#     - npm install -g @angular/cli
#     - ng test &
#     - sleep 10

deploy app:
  stage: deploy
  script:
    - npm i -g surge
    - surge --project ./dist/demo --domain fresh-touch.surge.sh

test deployment:
  stage: deployment tests
  script:
    - curl "http://fresh-touch.surge.sh" | tac | tac | grep -q "Wikipedia"
